Repository NYCPlanning/db-developments, pull requests merged in 2020-06, with the labels that each got.

#92 50 recode fields
  developments_build/sql/devdb_create_init.sql
Labels: GTGO

#115 fixing geom assignment order based on (#79)
  developments_build/sql/_geo.sql
  developments_build/sql/_init.sql
Labels: geo

#114 QAQC checks for init step
  developments_build/sql/init.sql
  developments_build/sql/qaqc/qaqc_init.sql
Labels: qaqc

#117 QAQC checks for units step
  developments_build/sql/qaqc/qaqc_units.sql
Labels: qaqc

#133 106 qaqc many to many
  developments_build/sql/_mid.sql
  developments_build/sql/qaqc/qaqc_mid.sql
Labels: GTGO

#145 (#134) checking if point is in bbl before correction
  developments_build/02_build_devdb.sh
  developments_build/config.sh
  developments_build/sql/_function.sql
  developments_build/sql/_geo.sql
Labels: geo

#159 63 patch
  developments_build/python/geocode.py
  developments_build/python/geocode_hny.py
  developments_build/sql/_geo.sql
  developments_build/sql/_init.sql
Labels: GTGO, geo

#158 (#157) geospatial qaqc
  developments_build/02_build_devdb.sh
  developments_build/python/dataloading.py
  developments_build/sql/_function.sql
  developments_build/sql/qaqc/qaqc_final.sql
  developments_build/sql/qaqc/qaqc_geo.sql
Labels: geo, qaqc

#162 adding docsify support
  docs/.nojekyll
  docs/index.html
Labels: documentation

#156 Rewrite of status logic
  developments_build/02_build_devdb.sh
  developments_build/sql/_co.sql
  developments_build/sql/_mid.sql
  developments_build/sql/_status.sql
  developments_build/sql/mid.sql
Labels: GTGO, status
